.how-to-place-order {
    margin-bottom: 128px;
}

.how-to-place-order .row-container {
    padding: 40px 50px 64px;
    background: var(--Universal-White);
    box-shadow: 0px 10px 40px 0px rgba(212, 217, 232, 0.35);
}

.how-to-place-order .title-block {
    margin-bottom: 64px;
}

.how-to-place-order .grid-step {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px;
}

.how-to-place-order .grid-step .item {
    display: flex;
    flex-direction: column;
}

.how-to-place-order .grid-step .item .step-count {
    display: flex;
    align-items: center;
    grid-gap: 30px;
    margin-bottom: 32px;
}

.how-to-place-order .grid-step .item .step-count .number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
    background: var(--Accent-Main);
    flex-shrink: 0;

    color: var(--Text-Reverse100);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.72px;
}

.how-to-place-order .grid-step .item .step-count .arrow-container {
    width: 100%;
}

.how-to-place-order .grid-step .item .step-count .arrow-container .line {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--Accent-Tertiary);
}

.how-to-place-order .grid-step .item .step-count .arrow-container .line .icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: var(--Accent-Tertiary);
}

.how-to-place-order .grid-step .item:last-child .step-count .arrow-container .line {
    display: none;
}

.how-to-place-order .grid-step .item .text-container .title {
    height: 90px;
    color: var(--Text-Main100);
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 46px;
}

.how-to-place-order .grid-step .item .text-container .desc {
    color: var(--Text-Main80);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%
}

.how-to-place-order .link-container {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

@media (max-width: 1300px) {
    .how-to-place-order .grid-step {
        grid-template-columns: repeat(2, 1fr);
    }

    .how-to-place-order .grid-step .item .text-container .title {
        height: 60px;
    }
}

@media (max-width: 767px) {
    .how-to-place-order .grid-step {
        grid-template-columns: repeat(1, 1fr);
    }

    .how-to-place-order .row-container {
        padding: 32px 22px;
        border-radius: 16px;
    }

    .how-to-place-order .title-block {
        margin-bottom: 32px;
    }

    .how-to-place-order .grid-step .item {
        flex-direction: row;
        align-items: start;
        grid-gap: 16px;
    }

    .how-to-place-order .grid-step .item .step-count {
        flex-direction: column;
        grid-gap: 16px;
        height: 100%;
    }

    .how-to-place-order .grid-step .item .step-count .arrow-container {
        height: 100%;
    }

    .how-to-place-order .grid-step .item .step-count .arrow-container .line {
        width: 2px;
        height: 100%;
        margin: auto;
    }

    .how-to-place-order .grid-step .item .step-count .arrow-container .line .icon {
        top: 100%;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
    }

    .how-to-place-order .grid-step .item .step-count .number {
        width: 48px;
        font-size: 24px;
    }

    .how-to-place-order .grid-step .item .text-container .title {
        height: max-content;
        font-size: 16px;
        margin-bottom: 8px;
    }

    .how-to-place-order .grid-step .item .text-container .desc {
        font-size: 14px;
    }

    .how-to-place-order {
        margin-bottom: 64px;
    }
}