@charset "UTF-8";

.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    font-size: 16px;
    background-color: #000;
}

.icon.search {
    mask-image: url(./search.svg);
    -webkit-mask-image: url(./search.svg);
}

.icon.cart {
    mask-image: url(./cart.svg);
    -webkit-mask-image: url(./cart.svg);
}

.icon.close {
    mask-image: url(./close.svg);
    -webkit-mask-image: url(./close.svg);
}

.icon.phone {
    mask-image: url(./phone.svg);
    -webkit-mask-image: url(./phone.svg);
}

.icon.row-left {
    mask-image: url(./row-left.svg);
    -webkit-mask-image: url(./row-left.svg);
}

.icon.row-right {
    mask-image: url(./row-right.svg);
    -webkit-mask-image: url(./row-right.svg);
}

.icon.whatsapp {
    mask-image: url(./whatsapp.svg);
    -webkit-mask-image: url(./whatsapp.svg);
}

.icon.telegram {
    mask-image: url(./telegram.svg);
    -webkit-mask-image: url(./telegram.svg);
}

.icon.instagram {
    mask-image: url(./instagram.svg);
    -webkit-mask-image: url(./instagram.svg);
}

.icon.mail {
    mask-image: url(./mail.svg);
    -webkit-mask-image: url(./mail.svg);
}

.icon.minus {
    mask-image: url(./minus.svg);
    -webkit-mask-image: url(./minus.svg);
}

.icon.plus {
    mask-image: url(./plus.svg);
    -webkit-mask-image: url(./plus.svg);
}

.icon.arrow-top {
    mask-image: url(./arrow-top.svg);
    -webkit-mask-image: url(./arrow-top.svg);
}

.icon.arrow-bottom {
    mask-image: url(./arrow-bottom.svg);
    -webkit-mask-image: url(./arrow-bottom.svg);
}

.icon.arrow-right {
    mask-image: url(./arrow-right.svg);
    -webkit-mask-image: url(./arrow-right.svg);
}

.icon.arrow-right-cropped {
    mask-image: url(./arrow-right-cropped.svg);
    -webkit-mask-image: url(./arrow-right-cropped.svg);
}

.icon.cryptocurrency {
    mask-image: url(./cryptocurrency.svg);
    -webkit-mask-image: url(./cryptocurrency.svg);
}

.icon.money {
    mask-image: url(./money.svg);
    -webkit-mask-image: url(./money.svg);
}

.icon.message {
    mask-image: url(./message.svg);
    -webkit-mask-image: url(./message.svg);
}

.icon.filter {
    mask-image: url(./filter.svg);
    -webkit-mask-image: url(./filter.svg);
}

.icon.globe {
    mask-image: url(./globe.svg);
    -webkit-mask-image: url(./globe.svg);
}

.icon.check {
    mask-image: url(./check.svg);
    -webkit-mask-image: url(./check.svg);
}