.modal-cart-preview .container-body .modal-header .header-info {
    display: flex;
    align-items: end;
}

.modal-cart-preview .container-body .modal-header .header-info .number-products {
    color: var(--Text-Main80);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */
    margin-left: 16px;
}

.modal-cart-preview .container-body .modal-content {
    padding: 24px !important;
    padding-top: 0 !important;
}

.modal-cart-preview .list-products {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    padding-bottom: 200px;
}

.modal-cart-preview .list-products .product-item {
    border-radius: 16px;
    background: var(--Universal-White);
    padding: 16px;
    box-shadow: 0px 10px 40px 0px rgba(212, 217, 232, 0.35);
}

.modal-cart-preview .list-products .product-item .row-container {
    display: flex;
}

.modal-cart-preview .list-products .product-item .row-container .photo-container {
    width: 92px;
    height: 100%;
    min-width: 92px;
    min-height: 107px;
    max-width: 92px;
    margin-right: 10px;
}

.modal-cart-preview .list-products .product-item .row-container .photo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modal-cart-preview .list-products .product-item .row-container .info-product {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
}

.modal-cart-preview .list-products .product-item .row-container .info-product .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.modal-cart-preview .list-products .product-item .row-container .info-product .header .btn-remove-product {
    padding: 4px;
}

.modal-cart-preview .list-products .product-item .row-container .info-product .header .btn-remove-product .icon {
    background-color: var(--Text-Main100);
}

.modal-cart-preview .list-products .product-item .row-container .info-product .header .title {
    color: var(--Text-Main100);
    font-size: 18px;
    font-weight: 500;
    line-height: 155%;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    box-orient: vertical;
}

.modal-cart-preview .list-products .product-item .row-container .info-product .quantity-in-stock {
    width: max-content;
    border-radius: 8px;
    background: var(--Status-SuccessGreenBG);
    padding: 4px 8px;
    color: var(--Status-SuccessGreen);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px; /* 150% */
    margin-top: 8px;
}

.modal-cart-preview .list-products .product-item .row-container .info-product .model-product {
    color: var(--Text-Main80);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px; /* 150% */
}

.modal-cart-preview .list-products .product-item .row-container .info-product .footer-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 28px;
}

.modal-cart-preview .list-products .product-item .row-container .info-product .footer-cart .quantity-purchase {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.modal-cart-preview .list-products .product-item .row-container .info-product .footer-cart .quantity-purchase .btn-quantity {
    width: 24px;
}

.modal-cart-preview .list-products .product-item .row-container .info-product .footer-cart .quantity-purchase .btn-quantity .icon {
    font-size: 16px;
    background-color: var(--Universal-Black);
}

.modal-cart-preview .list-products .product-item .row-container .info-product .footer-cart .quantity-purchase .count {
    width: 30px;
    text-align: center;
    color: var(--Universal-Black);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}

.modal-cart-preview .list-products .product-item .row-container .info-product .footer-cart .price-product {
    color: var(--Text-Main100);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; /* 150% */
}

.modal-cart-preview .cart-content > .footer-cart {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid var(--Universal-Grey);
    background: var(--Universal-White);
    padding: 24px;
}

.modal-cart-preview .cart-content > .footer-cart .price-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-cart-preview .cart-content > .footer-cart .price-row .title {
    color: var(--Text-Main100);
    font-size: 30px;
    font-weight: 600;
    line-height: 38px; /* 126.667% */
}

.modal-cart-preview .cart-content > .footer-cart .price-row .price {
    color: var(--Text-Main100);
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */
}

.modal-cart-preview .cart-content > .footer-cart .btn-place-order {
    width: 100%;
    margin-top: 32px;
}

@media (max-width: 767px) {
    .modal-cart-preview .container-body .modal-header .header-info {
        align-items: center;
    }

    .modal-cart-preview .container-body .modal-header .header-info .number-products {
        font-size: 16px;
    }

    .modal-cart-preview .list-products .product-item {
        padding: 12px 16px;
    }

    .modal-cart-preview .list-products .product-item .row-container .info-product .header .btn-remove-product .icon {
        font-size: 11px;
    }

    .modal-cart-preview .container-body .modal-content {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .modal-cart-preview .list-products .product-item .row-container .info-product .header .title {
        font-size: 14px;
    }

    .modal-cart-preview .cart-content > .footer-cart {
        padding: 12px 21px;
    }

    .modal-cart-preview .cart-content > .footer-cart .price-row .title {
        font-size: 18px;
    }

    .modal-cart-preview .cart-content > .footer-cart .price-row .price {
        font-size: 16px;
    }

    .modal-cart-preview .cart-content > .footer-cart .btn-place-order {
        font-size: 16px;
        margin-top: 24px;
    }
}